.team1 {
    position: relative;
    width: 100%;
    padding: 40px 0 15px 0;
}

.team1 p{
    font-size: 22px;
}

.team1 .team-item {
    margin-bottom: 30px;
}

.team1 .team-img {
    position: relative;
}

.team1 .team-img::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background: transparent;
    border: 1px solid #F6F6F7;
    transition: .3s;
    z-index: 1;
}

.team1 .team-img img {
    width: 100%;
}

.team1 .team-text {
    position: relative;
    margin: -60px 15px 0 15px;
    padding: 30px 15px;
    text-align: center;
    background: #F6F6F7;
    transition: .3s;
    z-index: 2;
}

.team1 .team-text h2 {
    font-size: 20px;
    font-weight: 600;
}

.team1 .team-text p {
    margin: 0;
    color: #333333;
}

.team1 .team-item:hover .team-text {
    background: #7f3efb;
    color: #fff;
}

.team1 .team-item:hover .team-text p{
    color: #fff;
}
.team1 .team-item:hover .team-img::after {
    border-color: #7f3efb;
}

.topText h2 span{
    color:#7f3efb; 
}
.team-bottmLine{
    display: inline-block;
    height: 10px;
    width: 10rem;
    margin: 0;
    padding: 0;
    background: #7f3efb;
}