*{
    margin: 0;
}

.contianer h3{
    font-size: 2rem;
    font-weight: 600;
}

.contianer h3 span{
    color: blue;
    font-weight: 900;
}

.linetool{
    display: inline-block;
    width: 10rem;
    border: 5px solid blue;  
    margin-bottom: 2rem;  
  }
.section_one{
    margin-top: 1rem;
}
.section_one p{
    font-size: 2rem;
}
.section_one p svg{
    color: blue;
}