/* ol li{
    list-style-type: square;
    color:#000;
  }
  */

  .wrapper-list h5{
    color: #7f3efb;
    font-size: 2rem;
  }

  .wrapper-list h5 span{
      font-weight: bold;
  }
  .colorBar{
    height: 3px;
    margin: 0;
    padding: 0;
    width: 60px;
    background: #7f3efb;
  }
  .ourServ h2 span{
    color: #7f3efb;
  }

  .ourServ p{
    font-size: 20px;
  }
  .serv-line{
    display: inline-block;
		height: 10px;
		width: 10rem;
		margin: 0;
		padding: 0;
		background: #7f3efb;
  }