.tool-card{
    /* background: blueviolet; */
    /* border: 0.5px solid #000; */
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(56 51 64 / 12%);
}

.tool-card img{
    /* border-radius: 20px; */
    width: 100%;
    object-fit: cover;
    padding: 20px 20px 20px 20px;
}

.tool-card h3{
    text-align: center;
    color: #000;
}

.tool-card p{
    padding: 10px;
    display: flex; 
    justify-content: center;
    /* display: -webkit-box;
    margin: 0rem;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; */
    text-overflow: ellipsis;
    color: #000;
    justify-content: center;
}