
.iconic-sm {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 50px;
	height: 50px;
	overflow: hidden;
	text-align: center;
  }
  
  .iconic-sm.iconic-text {
	line-height: 50px;
	border-radius: 50%;
  }
  
  .iconic-sm.iconic-text>span {
	font-size: 24px;
	line-height: inherit;
  }
  
  .iconic-md {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 70px;
	height: 70px;
	overflow: hidden;
	text-align: center;
  }
  
  .iconic-md.iconic-text {
	line-height: 70px;
	border-radius: 50%;
  }
  
  .iconic-md.iconic-text>span {
	font-size: 32px;
	line-height: inherit;
  }
  
  .iconic-lg {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 100px;
	overflow: hidden;
	text-align: center;
  }
  
  .iconic-lg.iconic-text {
	line-height: 100px;
	border-radius: 50%;
  }
  
  .iconic-lg.iconic-text>span {
	font-size: 48px;
	line-height: inherit;
  }
  
  .iconic-sm img,
  .iconic-md img,
  .iconic-lg img {
	width: 100%;
	height: 100%;
  }
  
  .iconic-list {
	position: relative;
	list-style: none;
	padding-left: 0;
  }
  
  .iconic-item {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	padding: 12px 0;
  }
  
  .iconic-item .iconic-content {
	margin-left: 12px;
	flex-basis: calc(100% - 100px);
  }